SFDCProject/src/flows/Contact_Update-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clean_Division_Variable</name>
        <label>Clean Division Variable</label>
        <locationX>909</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>UserDivision</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Update_Contact_Grant_Tool_Access</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Netexam_Job_Funtion_Logic</name>
        <label>Netexam Job Funtion Logic</label>
        <locationX>521</locationX>
        <locationY>667</locationY>
        <defaultConnectorLabel>Default Job Function</defaultConnectorLabel>
        <rules>
            <name>Canvasser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Retail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Function_Canvasser</targetReference>
            </connector>
            <label>Canvasser</label>
        </rules>
        <rules>
            <name>Inside_Sales_Representative_telesales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct + Five9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Function_Inside_Sales_Representative_telesales</targetReference>
            </connector>
            <label>Inside Sales Representative (telesales)</label>
        </rules>
        <rules>
            <name>Outside_Sales_Representative_Field_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Field Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Function_Outside_Sales_Representative_Field_Sales</targetReference>
            </connector>
            <label>Outside Sales Representative - Field Sales</label>
        </rules>
        <rules>
            <name>Inside_Sales_Representative_prequalify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct + Five9</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Job_Function_Inside_Sales_Representative_prequalify</targetReference>
            </connector>
            <label>Inside Sales Representative (prequalify)</label>
        </rules>
        <rules>
            <name>Operations_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_Function_Operations_Admin</targetReference>
            </connector>
            <label>Operations Admin</label>
        </rules>
        <rules>
            <name>Outside_Sales_Representative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Job_Function_Outside_Sales_Representative</targetReference>
            </connector>
            <label>Outside Sales Representative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Division_Variable</name>
        <label>Validate Division Variable</label>
        <locationX>567</locationX>
        <locationY>246</locationY>
        <defaultConnector>
            <targetReference>Sales_Update_Contact_Grant_Tool_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Division is Valid</defaultConnectorLabel>
        <rules>
            <name>Division_Contains_Invalid_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Field Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Division_Variable</targetReference>
            </connector>
            <label>Division Contains Invalid Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Profile_is_User</name>
        <label>What type of Profile is User?</label>
        <locationX>215</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Non_Ops_Sales_Update_Contact_Grant_Tool_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is not Ops or Sales</defaultConnectorLabel>
        <rules>
            <name>User_Is_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct + Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Division_Variable</targetReference>
            </connector>
            <label>User Is Sales</label>
        </rules>
        <rules>
            <name>User_Is_Operations_or_Account_Rep_or_Channel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Account Representative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Channel Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ops_Update_Contact_Grant_Tool_Access</targetReference>
            </connector>
            <label>User Is Operations or Account Rep or Channel</label>
        </rules>
    </decisions>
    <description>When a new User record is created, a trigger automatically creates a Contact record. This Flow updates the new Contact record with additional details and permissions for BrightPath.</description>
    <label>Contact Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Job_Function_Canvasser</name>
        <label>Job Function - Canvasser</label>
        <locationX>132</locationX>
        <locationY>906</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Canvasser</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Job_Function_Inside_Sales_Representative_prequalify</name>
        <label>Job Function - Inside Sales Representative (prequalify)</label>
        <locationX>851</locationX>
        <locationY>1021</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Inside Sales Representative (prequalify)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Job_Function_Inside_Sales_Representative_telesales</name>
        <label>Job Function - Inside Sales Representative (telesales)</label>
        <locationX>337</locationX>
        <locationY>1009</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Inside Sales Representative (telesales)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Job_Function_Operations_Admin</name>
        <label>Job Function - Operations Admin</label>
        <locationX>1166</locationX>
        <locationY>843</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Operations Admin</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Job_Function_Outside_Sales_Representative</name>
        <label>Job Function - Outside Sales Representative</label>
        <locationX>1008</locationX>
        <locationY>931</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Outside Sales Representative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Job_Function_Outside_Sales_Representative_Field_Sales</name>
        <label>Job Function - Outside Sales Representative (Field Sales)</label>
        <locationX>645</locationX>
        <locationY>1098</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Outside Sales Representative</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Non_Ops_Sales_Update_Contact_Grant_Tool_Access</name>
        <label>Non Ops/Sales Update Contact Grant Tool Access</label>
        <locationX>512</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Netexam_Job_Funtion_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Ops_Update_Contact_Grant_Tool_Access</name>
        <label>Ops - Update Contact Grant Tool Access</label>
        <locationX>81</locationX>
        <locationY>465</locationY>
        <connector>
            <targetReference>Netexam_Job_Funtion_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>UserDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Update_Contact_Grant_Tool_Access</name>
        <label>Sales - Update Contact Grant Tool Access</label>
        <locationX>745</locationX>
        <locationY>467</locationY>
        <connector>
            <targetReference>Netexam_Job_Funtion_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>UserDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>What_type_of_Profile_is_User</startElementReference>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
