SFDCProject/src/flows/Contact_Update-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clean_Division_Variable</name>
        <label>Clean Division Variable</label>
        <locationX>803</locationX>
        <locationY>326</locationY>
        <assignmentItems>
            <assignToReference>UserDivision</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Update_Contact_Grant_Tool_Access</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Division_Variable</name>
        <label>Validate Division Variable</label>
        <locationX>627</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Sales_Update_Contact_Grant_Tool_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Division is Valid</defaultConnectorLabel>
        <rules>
            <name>Division_Contains_Invalid_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Field Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Division_Variable</targetReference>
            </connector>
            <label>Division Contains Invalid Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Profile_is_User</name>
        <label>What type of Profile is User?</label>
        <locationX>215</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Non_Ops_Sales_Update_Contact_Grant_Tool_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is not Ops or Sales</defaultConnectorLabel>
        <rules>
            <name>User_Is_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct + Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Division_Variable</targetReference>
            </connector>
            <label>User Is Sales</label>
        </rules>
        <rules>
            <name>User_Is_Operations_or_Account_Rep_or_Channel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Account Representative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Channel Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ops_Update_Contact_Grant_Tool_Access</targetReference>
            </connector>
            <label>User Is Operations or Account Rep or Channel</label>
        </rules>
    </decisions>
    <label>Contact Update</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Non_Ops_Sales_Update_Contact_Grant_Tool_Access</name>
        <label>Non Ops/Sales Update Contact Grant Tool Access</label>
        <locationX>127</locationX>
        <locationY>417</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Ops_Update_Contact_Grant_Tool_Access</name>
        <label>Ops - Update Contact Grant Tool Access</label>
        <locationX>425</locationX>
        <locationY>347</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>UserDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Update_Contact_Grant_Tool_Access</name>
        <label>Sales - Update Contact Grant Tool Access</label>
        <locationX>629</locationX>
        <locationY>485</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>UserDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>What_type_of_Profile_is_User</startElementReference>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
</Flow>
