SFDCProject/src/flows/User_updates-15.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Is_User_Brea</name>
        <label>Is User Brea?</label>
        <locationX>442</locationX>
        <locationY>417</locationY>
        <defaultConnectorLabel>No User Is Not Brea</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Is_Brea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Brea</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_user_as_Customer_Care_Brea_role</targetReference>
            </connector>
            <label>Yes User Is Brea</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_Customer_Care_for_Knowledge_User</name>
        <label>Is user Customer Care (for Knowledge User)</label>
        <locationX>440</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Is_user_Operations_for_Group_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Customer Care</defaultConnectorLabel>
        <rules>
            <name>Yes_User_is_Customer_Care</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Customer Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_user_as_Knowledge_User_and_default_Customer_Care_role</targetReference>
            </connector>
            <label>Yes User is Customer Care</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_Operations_for_Group_Assignment</name>
        <label>Is user Operations (for Group Assignment)</label>
        <locationX>760</locationX>
        <locationY>159</locationY>
        <defaultConnector>
            <targetReference>Is_User_Profile_Five9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Operations</defaultConnectorLabel>
        <rules>
            <name>Yes_User_is_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e60000001BUOs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_to_Operations_Group</targetReference>
            </connector>
            <label>Yes User is Operations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Profile_Five9</name>
        <label>Is User Profile Five9</label>
        <locationX>1037</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>No User Profile Is Not Five9</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Profile_Is_Five9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CallCenter_Id_To_User</targetReference>
            </connector>
            <label>Yes User Profile Is Five9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Test</name>
        <label>Is User Test?</label>
        <locationX>39</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Add_Remedyforce_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Is Not Test</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Is_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <label>Yes User Is Test</label>
        </rules>
    </decisions>
    <description>Assigns Remedyforce permission set, Remedyforce licnese, sets as Work.com User, assigns Work.com permsision set, and sets as Knowledge user for Customer Care.</description>
    <label>User updates</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Directory_Number</name>
        <label>Add Directory Number</label>
        <locationX>1036</locationX>
        <locationY>450</locationY>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v60000000TNMN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Five9 Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputAssignments>
        <object>AdditionalNumber</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Remedyforce_Permission_Set</name>
        <label>Add Remedyforce Permission Set</label>
        <locationX>37</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Assign_Work_com_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS60000000Jgwy</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_user_to_Operations_Group</name>
        <label>Assign user to Operations Group</label>
        <locationX>761</locationX>
        <locationY>321</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <stringValue>00G60000001WX8r</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Work_com_Permission_Set</name>
        <label>Assign Work.com Permission Set</label>
        <locationX>38</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Assigned_Remedyforce_License</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS60000000eZcq</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Assigned_Remedyforce_License</name>
        <label>Assigned Remedyforce License</label>
        <locationX>40</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Is_user_Customer_Care_for_Knowledge_User</targetReference>
        </connector>
        <inputAssignments>
            <field>PackageLicenseId</field>
            <value>
                <stringValue>05060000000LB5Y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>UserPackageLicense</object>
    </recordCreates>
    <recordUpdates>
        <name>Assign_CallCenter_Id_To_User</name>
        <label>Assign CallCenter Id To User</label>
        <locationX>1037</locationX>
        <locationY>312</locationY>
        <connector>
            <targetReference>Add_Directory_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v60000000TNMN</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_user_as_Customer_Care_Brea_role</name>
        <label>Set user as Customer Care Brea role</label>
        <locationX>445</locationX>
        <locationY>547</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E600000018WpB</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_user_as_Knowledge_User_and_default_Customer_Care_role</name>
        <label>Set user as Knowledge User and default Customer Care role</label>
        <locationX>440</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>Is_User_Brea</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserRoleId</field>
            <value>
                <stringValue>00E600000017iw7</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Is_User_Test</startElementReference>
    <textTemplates>
        <name>UserFullName</name>
        <text>{!UserFirstName} {!UserLastName}</text>
    </textTemplates>
    <variables>
        <name>ProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FirstName</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LastName</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
