SFDCProject/src/flows/User_updates-14.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clean_Division_Variable</name>
        <label>Clean Division Variable</label>
        <locationX>1262</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>UserDivision</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Record_for_Sales</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_user_Customer_Care_for_Knowledge_User</name>
        <label>Is user Customer Care (for Knowledge User)</label>
        <locationX>456</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Is_user_Operations_for_Group_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Customer Care</defaultConnectorLabel>
        <rules>
            <name>Yes_User_is_Customer_Care</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Customer Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_user_as_Knowledge_User_and_default_Customer_Care_role</targetReference>
            </connector>
            <label>Yes User is Customer Care</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_Operations_for_Group_Assignment</name>
        <label>Is user Operations (for Group Assignment)</label>
        <locationX>871</locationX>
        <locationY>556</locationY>
        <defaultConnector>
            <targetReference>Is_User_Profile_Five9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Operations</defaultConnectorLabel>
        <rules>
            <name>Yes_User_is_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e60000001BUOs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_to_Operations_Group</targetReference>
            </connector>
            <label>Yes User is Operations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Profile_Five9</name>
        <label>Is User Profile Five9</label>
        <locationX>1254</locationX>
        <locationY>555</locationY>
        <defaultConnectorLabel>No User Profile Is Not Five9</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Profile_Is_Five9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CallCenter_Id_To_User</targetReference>
            </connector>
            <label>Yes User Profile Is Five9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Test</name>
        <label>Is User Test?</label>
        <locationX>39</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Add_Remedyforce_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Is Not Test</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Is_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <label>Yes User Is Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Division_Variable</name>
        <label>Validate Division Variable</label>
        <locationX>1277</locationX>
        <locationY>141</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record_for_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Division is Valid</defaultConnectorLabel>
        <rules>
            <name>Division_Contains_Invalid_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Field Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Division_Variable</targetReference>
            </connector>
            <label>Division Contains Invalid Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Profile_is_User</name>
        <label>What type of Profile is User?</label>
        <locationX>1029</locationX>
        <locationY>44</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record_for_Non_Ops_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User is not Ops or Sales</defaultConnectorLabel>
        <rules>
            <name>User_Is_Operations_or_Account_Rep_or_Channel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Account Representative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Channel Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Record_for_Operations</targetReference>
            </connector>
            <label>User Is Operations or Account Rep or Channel</label>
        </rules>
        <rules>
            <name>User_Is_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct + Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Division_Variable</targetReference>
            </connector>
            <label>User Is Sales</label>
        </rules>
    </decisions>
    <description>Assigns Remedyforce permission set, Remedyforce licnese, sets as Work.com User, assigns Work.com permsision set, and sets as Knowledge user for Customer Care.</description>
    <label>User updates</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Directory_Number</name>
        <label>Add Directory Number</label>
        <locationX>1253</locationX>
        <locationY>853</locationY>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v60000000TNMN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Five9 Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputAssignments>
        <object>AdditionalNumber</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Remedyforce_Permission_Set</name>
        <label>Add Remedyforce Permission Set</label>
        <locationX>370</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Assign_Work_com_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS60000000Jgwy</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_user_to_Operations_Group</name>
        <label>Assign user to Operations Group</label>
        <locationX>872</locationX>
        <locationY>718</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <stringValue>00G60000001WX8r</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Work_com_Permission_Set</name>
        <label>Assign Work.com Permission Set</label>
        <locationX>545</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Assigned_Remedyforce_License</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS60000000eZcq</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Assigned_Remedyforce_License</name>
        <label>Assigned Remedyforce License</label>
        <locationX>738</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>What_type_of_Profile_is_User</targetReference>
        </connector>
        <inputAssignments>
            <field>PackageLicenseId</field>
            <value>
                <stringValue>05060000000LB5Y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>UserPackageLicense</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record_for_Non_Ops_Sales</name>
        <label>Create Contact Record for Non Ops/Sales</label>
        <locationX>213</locationX>
        <locationY>387</locationY>
        <connector>
            <targetReference>Is_user_Customer_Care_for_Knowledge_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Employee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UserFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UserLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01260000000UN6H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sunrun_User__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Parent_Account__c</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record_for_Operations</name>
        <label>Create Contact Record for Operations</label>
        <locationX>693</locationX>
        <locationY>375</locationY>
        <connector>
            <targetReference>Is_user_Customer_Care_for_Knowledge_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Employee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UserFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UserLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01260000000UN6H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sunrun_User__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Parent_Account__c</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record_for_Sales</name>
        <label>Create Contact Record for Sales</label>
        <locationX>957</locationX>
        <locationY>374</locationY>
        <connector>
            <targetReference>Is_user_Customer_Care_for_Knowledge_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Active_Employee__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>UserDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>UserFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>UserLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01260000000UN6H</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sunrun_User__c</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ultimate_Parent_Account__c</field>
            <value>
                <stringValue>0016000000owsk8</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordUpdates>
        <name>Assign_CallCenter_Id_To_User</name>
        <label>Assign CallCenter Id To User</label>
        <locationX>1254</locationX>
        <locationY>715</locationY>
        <connector>
            <targetReference>Add_Directory_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v60000000TNMN</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_user_as_Knowledge_User_and_default_Customer_Care_role</name>
        <label>Set user as Knowledge User and default Customer Care role</label>
        <locationX>456</locationX>
        <locationY>711</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Is_User_Test</startElementReference>
    <textTemplates>
        <name>UserFullName</name>
        <text>{!UserFirstName} {!UserLastName}</text>
    </textTemplates>
    <variables>
        <name>ProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FirstName</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LastName</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
