SFDCProject/src/flows/User_updates-11.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Clean_Division_Variable</name>
        <label>Clean Division Variable</label>
        <locationX>800</locationX>
        <locationY>147</locationY>
        <assignmentItems>
            <assignToReference>UserDivision</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Update_Contact_Grant_Tool_Access_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_user_Customer_Care_for_Knowledge_User</name>
        <label>Is user Customer Care (for Knowledge User)</label>
        <locationX>599</locationX>
        <locationY>486</locationY>
        <defaultConnector>
            <targetReference>Is_user_Operations_for_Group_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Customer Care</defaultConnectorLabel>
        <rules>
            <name>Yes_User_is_Customer_Care</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Customer Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_user_as_Knowledge_User_0_0</targetReference>
            </connector>
            <label>Yes User is Customer Care</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_user_Operations_for_Group_Assignment</name>
        <label>Is user Operations (for Group Assignment)</label>
        <locationX>919</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Is_User_Profile_Five9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Is Not Operations</defaultConnectorLabel>
        <rules>
            <name>Yes_User_is_Operations</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e60000001BUOs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_user_to_Operations_Group</targetReference>
            </connector>
            <label>Yes User is Operations</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Profile_Five9</name>
        <label>Is User Profile Five9</label>
        <locationX>1196</locationX>
        <locationY>483</locationY>
        <defaultConnectorLabel>No User Profile Is Not Five9</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Profile_Is_Five9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CallCenter_Id_To_User</targetReference>
            </connector>
            <label>Yes User Profile Is Five9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_Test</name>
        <label>Is User Test?</label>
        <locationX>39</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Add_Remedyforce_Permission_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No User Is Not Test</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Is_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserEmail</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>test</stringValue>
                </rightValue>
            </conditions>
            <label>Yes User Is Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Division_Variable</name>
        <label>Validate Division Variable</label>
        <locationX>583</locationX>
        <locationY>9</locationY>
        <defaultConnector>
            <targetReference>Sales_Update_Contact_Grant_Tool_Access_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Division is Valid</defaultConnectorLabel>
        <rules>
            <name>Division_Contains_Invalid_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserDivision</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Field Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clean_Division_Variable</targetReference>
            </connector>
            <label>Division Contains Invalid Value</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_Profile_is_User</name>
        <label>What type of Profile is User?</label>
        <locationX>301</locationX>
        <locationY>142</locationY>
        <defaultConnectorLabel>User is not Ops or Sales</defaultConnectorLabel>
        <rules>
            <name>User_Is_Operations_or_Account_Rep_or_Channel</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Operations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Account Representative</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Channel Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ops_Update_Contact_Grant_Tool_Access</targetReference>
            </connector>
            <label>User Is Operations or Account Rep or Channel</label>
        </rules>
        <rules>
            <name>User_Is_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UserProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales - Direct + Five9</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Division_Variable</targetReference>
            </connector>
            <label>User Is Sales</label>
        </rules>
    </decisions>
    <description>Assigns Remedyforce permission set, Remedyforce licnese, sets as Work.com User, assigns Work.com permsision set, and sets as Knowledge user for Customer Care.</description>
    <label>User updates</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Directory_Number</name>
        <label>Add Directory Number</label>
        <locationX>1195</locationX>
        <locationY>781</locationY>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v60000000TNMN</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Five9 Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>UserFullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>UserEmail</elementReference>
            </value>
        </inputAssignments>
        <object>AdditionalNumber</object>
    </recordCreates>
    <recordCreates>
        <name>Add_Remedyforce_Permission_Set</name>
        <label>Add Remedyforce Permission Set</label>
        <locationX>37</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Assign_Work_com_Permission_Set</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS60000000Jgwy</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_user_to_Operations_Group</name>
        <label>Assign user to Operations Group</label>
        <locationX>920</locationX>
        <locationY>652</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <stringValue>00G60000001WX8r</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Work_com_Permission_Set</name>
        <label>Assign Work.com Permission Set</label>
        <locationX>38</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>Assigned_Remedyforce_License</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS60000000eZcq</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Assigned_Remedyforce_License</name>
        <label>Assigned Remedyforce License</label>
        <locationX>40</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>What_type_of_Profile_is_User</targetReference>
        </connector>
        <inputAssignments>
            <field>PackageLicenseId</field>
            <value>
                <stringValue>05060000000LB5Y</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserId</field>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </inputAssignments>
        <object>UserPackageLicense</object>
    </recordCreates>
    <recordUpdates>
        <name>Assign_CallCenter_Id_To_User</name>
        <label>Assign CallCenter Id To User</label>
        <locationX>1196</locationX>
        <locationY>643</locationY>
        <connector>
            <targetReference>Add_Directory_Number</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallCenterId</field>
            <value>
                <stringValue>04v60000000TNMN</stringValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Ops_Update_Contact_Grant_Tool_Access</name>
        <label>Ops - Update Contact Grant Tool Access</label>
        <locationX>309</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Is_user_Customer_Care_for_Knowledge_User</targetReference>
        </connector>
        <filters>
            <field>Sunrun_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Can_Run_Change_Orders__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>e_sign_documents_access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sales_Update_Contact_Grant_Tool_Access_0</name>
        <label>Sales - Update Contact Grant Tool Access</label>
        <locationX>590</locationX>
        <locationY>260</locationY>
        <connector>
            <targetReference>Is_user_Customer_Care_for_Knowledge_User</targetReference>
        </connector>
        <filters>
            <field>Sunrun_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_New_Proposal__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Tool_Access__c</field>
            <value>
                <stringValue>Granted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>UserDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDP_Go_Live_Date__c</field>
            <value>
                <dateValue>2013-06-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Function__c</field>
            <value>
                <stringValue>Sunrun - Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__c</field>
            <value>
                <stringValue>a0z60000001V6iP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sells_Sunrun__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>UserTitle</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_user_as_Knowledge_User_0_0</name>
        <label>Set user as Knowledge User</label>
        <locationX>599</locationX>
        <locationY>640</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserPermissionsKnowledgeUser</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <startElementReference>Is_User_Test</startElementReference>
    <textTemplates>
        <name>UserFullName</name>
        <text>{!UserFirstName} {!UserLastName}</text>
    </textTemplates>
    <variables>
        <name>ProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>FirstName</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>LastName</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
